.card-header.bg-dark {
    background-color: rgb(32, 34, 37) !important;
}

.card-body.bg-secondary {
    background-color: rgb(46,48,53) !important;
    color:white;
}

.card-footer {
    background-color: rgb(46,48,53) !important;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    color:white;
}

.profile-edit-button {
    background: none;
    border: none;
}

.message-button {
    background: none;
    border: none;
}

/* Mobile */
@media (max-width: 768px) {
    .card.m-2 {
        margin: 0px 0.5rem 0.5rem 0.5rem !important;
    }
}

/* Desktop */
@media (min-width: 769px) {
    .card.m-2 {
        max-width: 700px;
        margin-top: 0 !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}



