ul {
    list-style-type: none;
    padding-top: unset;
    padding-right: unset;
    padding-bottom: unset;
    padding-left: unset;
}

.result-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:5px;
}

.card.m-2 {
    background-color: rgba(0,0,0,0);
}