.side-drawer {
    height:100%;
    background: rgb(32, 34, 37);
    position:fixed;
    top:0;
    left:0;
    width:70%;
    max-width: 350px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.side-drawer.open {
    transform: translateX(0);
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
}

.side-drawer ul {
    height:100%;
    list-style: none;
    display: flex;
    font-size: 1.3rem;
    flex-direction: column;
    margin-top: 10px;
}

.side-drawer li {
    margin: 0;
    height: 60px;
    display: table
}

.side-drawer a:hover,
.side-drawer a:active {
    color: #79e279;
    text-decoration: none;
}

.side-drawer a {
    color: #35a53e;
    text-decoration: none;
    vertical-align: middle;
    display: table-cell;
    padding-left: 24px;
}

.side-drawer li:hover {
    color: white;
    background-color:rgb(41, 44, 46);
    text-decoration: none;
}

@media (min-width: 769px) {
    .side-drawer {
        display: none;
    }
}